<table cellspacing="0">
    <tbody>
        {{#each array}}
        <tr>
            {{#each item}}  
            <td>
                {{#each item}}
                <div>
                    {{#each item}}
                    <object class="mini-square {{get_item_from_array ../../../../colors item}}" data-coordinate-x="{{calc (calc ../../_i "*" ../../../../SquareLength) "+" _i}}" data-coordinate-y="{{calc (calc ../../../_i "*" ../../../../SquareLength) "+" ../_i}}"></object>
                    {{/each}}
                </div>
                {{/each}}
            </td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>