<table cellspacing="0">
    <tbody>
        {{#each array}}
        <tr>
            {{#each item}}
            <td class="square {{get_item_from_array ../../colors item}}" data-coordinate-x="{{_i}}" data-coordinate-y="{{../_i}}"></td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>