.clock-view-changers {
    display: none;
}
.digit {
    position: absolute;
    font-size: 2.5vw;
}
.digit-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}